::before,
::after {
  box-sizing: border-box;
}

#title-box{
  display: block;
  text-align: center;
  color:orange;
  border-bottom-style: double;
}

title{
  font-family: 'Do Hyeon', sans-serif;
}

#slogan{
  font-family: 'Shadows Into Light', cursive;

}

body {
  display: swap;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #f2870c;
  margin: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #234099;
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://i.pinimg.com/736x/05/b3/31/05b331253d35e6bb9c7d66cc044abf50.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-weight: 100;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 2rem auto 1rem auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

form {
  background: rgba(27, 27, 50, 0.8);
  padding: 5rem;
  border-radius: 3.25rem;
  border-radius: 2em;
  border-style: solid;
  border-color: #f2870c;
}

.form-group {
  margin: 1.5rem auto 1.5rem auto;
  padding: 0.5rem;
  
}

.form-control {
  display: flex;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#submit-button{
  text-align: center;
}

#submit{
  display: block;
  width: 100%;  
  padding: .75rem;
  color: green;
  border-radius: .8rem;
  cursor: pointer;
}

#title-pad {
  color: white;
  height: 1rem;
  width: 100%;
}

#comment {
  min-height: 120px;
  width: 100%;
  padding: 0.5rem auto 0 0;
  resize: vertical;
}